.ExperienceSection {
  &:not(:last-of-type) {
    @include margin($bottom: 3);
  }  
  
  &__container {
    display: flex;

    &:nth-of-type(1) {
      @include margin($bottom: 2);
    }

    &_content {
      display: flex;
      flex-direction: column;
  
      @include padding($bottom: 2);
    }
  }
}
