.ExperienceSection {
  @include margin($bottom: 4);
  
  &__container {
    display: flex;

    &:nth-of-type(1) {
      @include margin($bottom: 3);
    }

    &_content {
      display: flex;
      flex-direction: column;
  
      @include padding($bottom: 2);
    }
  }
}
